<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script th:src="|https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js|"></script>
    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Test For BidOne</title>
</head>

<body>
<header th:replace="layout :: site-header"/>
<div class="container">

    <h3>Welcome to the yhcheong first AzureDemo</h3>
    <p>Now is: <b th:text="${execInfo.now.time}"></b></p>
    <p>Test:<p>
    <ol>
        <li>This is test for BidOne <i>This is test for BidOne</i> This is test for BidOne</li>
        <li>This is test for BidOne <i>Subscribe</i>.</li>
    </ol>
    <div>
</body>
</html>